body{
    height: 1008px;
      background: linear-gradient(90deg, #57CB9B 0%, #1C1515 100%);
}
.form_container{
    box-shadow: 0 0 24px rgba(192, 187, 187, 0.75);
    background: linear-gradient(240deg, rgba(100, 196, 207, 0.70) 39.79%, rgba(122, 225, 81, 0.70) 72.59%);
    height: 600px;
    width: 402px;
    border-radius: 20px;
    position: absolute;
    top:80px;
    left: 519px;
}
.email{
    box-shadow: 0 8px 16px rgba(0,0,0,0.75);
    height: 24px;
    width:300px;
    border-radius:6px ;
    text-align: center;
    position: absolute;
    top:200px;
    left: 45px;

}
.password{
   box-shadow: 0 8px 16px rgba(0,0,0,0.75);
   height: 24px;
    width:300px;
    border-radius:6px ;
    text-align: center;
    position: absolute;
    top:250px;
    left: 45px; 
}
.password.one{

    position: absolute;
    top: 300px;
}


.submit{
    box-shadow: 0 8px 16px rgba(0,0,0,0.75);
    height: 30px;
    width: 180px;
    border-radius:6px ;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    left:100px;
    top: 350px;
 
}
.login{
    position: absolute;
    top:400px;
    left: 100px;
    text-decoration: none;
}
h1{
    position: absolute;
    top:30px;
    left :38px;
}

.f_name{ 
    box-shadow: 0 8px 16px rgba(0,0,0,0.75);
    border-radius:6px ;
    height: 24px;
    width:300px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 45px;
}


.l_name{
     box-shadow: 0 8px 16px rgba(0,0,0,0.75);
     border-radius:6px ;
    height: 24px;
    width:300px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 45px;
}
