.formContainer{
     line-height: 32px;
    padding-top: 3%;
    height: 400px;
    width: 400px;
    margin: auto;
    padding-left: 25%;
    padding-right: 10%;
    background-color: rgb(32, 214, 214);
    border-radius: 44px;
}
body{
 background: gray;

}