body{

      background: linear-gradient(90deg, #57CB9B 0%, #1C1515 100%);
}
.form_container{
    background: linear-gradient(240deg, rgba(100, 196, 207, 0.70) 39.79%, rgba(122, 225, 81, 0.70) 72.59%);
    height: 600px;
    width: 402px;
    border-radius: 20px;
    position: absolute;
    top:20px;
    left: 519px;
    
}
h1{
    text-align: left;
    position: absolute;
    font-size: 30px;
    top:100px;
    left :38px;
}
.email{

    height: 24px;
    width:300px;
    text-align: center;
    position: absolute;
    top:200px;
    left: 45px;

}
.password{
   height: 24px;
    width:300px;
    text-align: center;
    position: absolute;
    top:250px;
    left: 45px;
    
}
.login{
    height: 30px;
    width: 180px;
    text-align: center;
    background-color: blue;
    border-radius: 6px;
    position: absolute;
    left:100px;
    top: 300px;


}
.f_pass{
    position: absolute;
    top: 350px;
    left: 136px;
}
.login.one{
    position: absolute;
    top:425px;
    background-color:green;
    color: aliceblue;
    border-radius: 6px;
}
p{
    position:absolute; 
    top:375px;
    left:194px;
}
.login.one:hover{
  background-color: blue;
}